// Variables

// Gray and Brand Colors for use across theme

$theme-primary:    #6cbf84;
$theme-secondary:  #4c586f;
$theme-pink:       #ffbcc3;
$theme-mainbg:    #bce4e4;
$theme-header:     #613A43;

