@import "variables.scss";
@import "mixins.scss";

// Global Components
body {
    overflow-x: hidden;
    @include heading-font;
    color: $theme-header;
}

a {
    color: $theme-primary;
}

a:hover,
a:focus,
a:active,
a.active {
  color: darken($theme-primary, 10%);
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
    @include heading-font;
    font-weight: 700;
}

.btn-xl {
    @include button-variant(white, $theme-secondary, $theme-secondary);
    @include heading-font;
    font-weight: 700;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px 40px;
}

// Custom Navigation Bar
#mainNav {
    background-color: $theme-header;

    .navbar-toggler {
        font-size: 20px;
        padding: 13px;
        color: white;
        background-color: $theme-secondary;
    }
    .navbar-brand {
        &.active,
        &:active,
        &:focus,
        &:hover {
            color: $theme-primary;
        }
    }
    .navbar-nav {
        .nav-item {
            .nav-link {
                font-size: 18px;
                padding: 0.75em 0;
                letter-spacing: 1px;
                color: white;
                @include heading-font;
                &.active,
                &:hover {
                    color: $theme-primary;
                }
            }
        }
    }
}
@media(min-width:992px) {
    #mainNav {
        padding-top: 25px;
        padding-bottom: 25px;
        transition: padding-top 0.3s, padding-bottom 0.3s,background-color .3s;
        border: none;
        background-color: transparent;
        .navbar-brand {
            font-size: 1.75em;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
        }
        .navbar-nav {
            .nav-item {
                .nav-link {
                    padding: 1.1em 1em !important;
                }
            }
        }
        &.navbar-shrink {
            padding-top: 0;
            padding-bottom: 0;
            background-color: $theme-header;
            .navbar-brand {
                font-size: 1.25em;
                padding: 12px 0;
            }
        }
    }
}

@media(min-width:768px) {
    .navbar-custom {
        padding: 25px 0;
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;
        border: none;
        .navbar-brand {
            font-size: 2em;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
        }
        .navbar-nav>.active>a {
            border-radius: 3px;
        }
    }
}

header {
    display: flex;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: $theme-pink;
    color: #fff;
    .intro-lead-in {
        @include heading-font;
        font-style: italic;
        font-size: 22px;
        line-height: 22px;
        margin-bottom: 25px;
    }
    .intro-heading {
        @include heading-font;
        font-weight: 700;
        font-size: 50px;
        line-height: 50px;
        margin-bottom: 25px;
    }
}

@media(min-width:768px) {
    header {
        .intro-lead-in {
            @include serif-font;
            font-style: italic;
            font-size: 40px;
            line-height: 40px;
            margin-bottom: 25px;
        }
        .intro-heading {
            @include heading-font;
            font-weight: 700;
            font-size: 72px;
            line-height: 75px;
            margin-bottom: 50px;
        }
    }
}

// Global Section Styles
section.main-section .container {
    background-color: $theme-mainbg;
}

#watzoekik .container {
    padding-bottom: 150px;
}
section:last-of-type {
    margin-top: 150px;
}

section.main-section .container {
  padding-top: 75px;
  padding-bottom: 75px;
}
@media(min-width:768px) {
    section.main-section:first-of-type {
      margin-top: 150px;
      .container {
        padding-top: 150px;
      }
    }
    .content-wrapper {
        width: 600px;
        display: inline-block;
    }
}

.section-heading {
    font-size: 45px;
    margin-top: 0;
    margin-bottom: 15px;
}

ul.oli-list {
    padding-left: 0;
    list-style: none;
    font-size: 22px;
    text-align: left;
    li {
        padding: 10px 0;
        display: flex;
        align-items: center;
    }
    i {
        flex: 0 0 40px;
    }
}

#watdeedik {
    .row {
        justify-content: center;
    }

    // Timeline
    .timeline {
        border-left: 4px solid pink;
        position: relative;
        line-height: 1.4em;
        padding: 50px;
        list-style: none;
        text-align: left;
        margin-left: 200px;

        h3 {
            letter-spacing: 1.5px;
            font-weight: 400;
            font-size: 1.4em;
        }

        .event {
            border-bottom: 1px dashed $theme-pink;
            padding-bottom: 25px;
            margin-bottom: 25px;
            position: relative;
            max-width: 400px;

            p {
              font-size: 14px;
              line-height: 1.75;
            }

            &:last-of-type {
                padding-bottom: 0;
                margin-bottom: 0;
                border: none;
            }

            &:before, &:after {
                @include heading-font;
                position: absolute;
                display: block;
                top: 0;
            }

            &:before {
                left: -200px;
                content: attr(data-date);
                text-align: right;
            }

            &:after {
                box-shadow: 0 0 0 4px $theme-pink;
                left: -57.85px;
                background: $theme-header;
                border-radius: 50%;
                height: 11px;
                width: 11px;
                content: "";
                top: 5px;
            }
        }
    }
}

@media(max-width:767px) {
  #watdeedik .timeline {
    margin-left: 50px;
    padding: 30px;
    .event {
      &:before {
        left: 0;
      }
      &:after {
        left: -37.85px;
      }

      h3 {
        padding-top: 30px;
      }
    }
  }
}

// Contact Section
#contact {
    background-image: url('../img/contact-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .container {
        background: none;
    }
    .d-flex {
        flex-direction: column;
    }
    .oli-list, .section-heading {
        color: $theme-header;
    }
    .image {
        background-image: url('../img/oli.jpg');
        background-position: center;
        background-repeat: no-repeat;
        width: 300px;
        height: 300px;
        border-radius: 50%;
    }
}

@media(min-width:768px) {
  #contact {
    .d-flex {
      flex-direction: row;
    }
    .oli-list {
        padding-left: 75px;
    }
  }
}

// Footer
footer {
    padding: 25px 0;
    text-align: center;
    span.copyright {
        line-height: 40px;
        @include heading-font;
        text-transform: none;
    }
    ul.quicklinks {
        margin-bottom: 0;
        line-height: 40px;
        @include heading-font;
        text-transform: none;
    }
}

// Highlight Color Customization
::-moz-selection {
    text-shadow: none;
    background: $theme-primary;
}
::selection {
    text-shadow: none;
    background: $theme-primary;
}
body {
    webkit-tap-highlight-color: $theme-primary;
}
